header {
    height: 75px;
    background-color: #243763;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

body {
    background-color: #FFEBB7;
    margin: 0;
    height: 100vh;

}

.banner-btn {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    align-items: center;
}

.banner-btn a {
    text-align: center;
    color: white;
    width: 150px;
    margin: 10px 10px;
    display: inline-block;
    padding: 12px;
    position: relative;
    border: .5px solid #fff;
    transition: color 1s;
    z-index: 1;
    text-decoration: none;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;


}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: #000;
}

#pop{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Poppins";
}

.heading {
    font-size: 40px;
}

.image {
    height: 600px;
    width: 400px;

}

.image1, .image2{
    height: 100%;
    width: 400px;
    border-radius: 20px 0 0 20px;
}

.hj {
    width: 400px;
    height: 600px;
    margin: 0;
    /* background-color: #243763; */
}

#popup, #popup1{
    color: black;
    position: absolute;
    width: 400px;
    /* text-align:center; */
    height: 600px;
    background-color: rgb(151, 226, 250);
    border-radius: 0 20px 20px 0;
    margin: 0;
    /* z-index:1; */
}

.heading {
    text-align: center;
}

.x {
    /* font-weight: lighter; */
    font-size: 17px;
    margin: 30px;
    margin-left: 50px;
}
.error{
    margin-left: 50px;
    color: #0000005f;
}
input{
    /* border: 2px solid rgba(0, 0, 0, 0.477); */
    padding: 5px;
    margin: 7px;
    margin-left: 50px;
    background-color: #00000000;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid gray;
    font-size: 15px;
    /* margin-top: 20px; */
    /* margin-bottom: 0; */
}

input[type=text]:focus {
    outline: none;
}

input[type=password]:focus {
    outline: none;

}

input[type=password] {
    border: none;
    border-bottom: 2px solid gray;
    font-size: 15px;
}

.y {
    background-color: rgba(173, 216, 230, 0);

}



.buttondiv {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: top 10px; */
}

.pressButton {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 40px;
    /* margin-top:100px;
    margin-left: 260px; */
    align-items: center;
    color: black;
    background-color: rgba(0, 0, 0, 0.158);
    border-color: black;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    transition: 0.5s;
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.6); */


}


.pressButton:hover {
    background-color: rgba(108, 108, 108, 0.235);
    transform: scale(1.05);
}

.other{
    display: flex;
    text-align: center;
    /* background-color: #243763; */
    justify-content: center;
    align-items: center;
}

.sub_div{
    display: flex;
    justify-content: center;
    height: 60px;
}

#pressBelow {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid rgba(0, 0, 0, 0.452);
    border-radius: 20px;
    transition: 0.5s;
}

#pressBelow:hover{
    cursor: pointer;
    background-color: rgba(108, 108, 108, 0.235);
    transform: scale(1.05);
}

.z{
    margin-bottom: 30px;
}

.inp_field{
    transition: 0.5s;
}

.inp_field:hover{
    transform:translateX(20px);
}

footer {
    height: 80px;
    background-color: #AD8E70;
}

li {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

ul {
    margin: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#userSettings {
    margin-right: 40px;
    color: bisque;
}