
header{
    height:75px;
    background-color: #243763;
    display:flex;
    justify-content:space-between;
    margin:0;
}
body {
    background-color:  #FFEBB7;
    margin:0;
    height: 100vh;

}
.banner-btn {
    display:flex;
    justify-content:flex-end;
    margin:8px;
    align-items: center;
}

.banner-btn a {

    text-align:center;
    color: white;
    width: 150px;
    margin: 10px 10px;
    display: inline-block;
    padding: 12px;
    position: relative;
    border: .5px solid #fff;
    transition: color 1s;
    z-index: 1;
    text-decoration: none;

}

.banner-btn a span {
    width: 0%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;


}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: #000;
}

#logo{
    
} 
.main {
    display:flex;
    justify-content: center;
    height: calc(100vh- 75px);
}
#pop { 
    width:60%;
    display:flex;
    justify-content:space-evenly;
    /* align-items: center; */
    height:75%;
    margin:80px;
    position:relative;
    
    
  
}
.heading {
    font-size: 40px;
}
.image {
    height:600px;
    width:50%;
   
}
.image1 {
    height:100%;
    width:100%;
    /* border: 2px rebeccapurple solid; */
}
.image2 {
    height:620px;
    width:100%;
    /* border: 2px rebeccapurple solid; */
}
.hj {
    width:50%;
    height:600px;
}
#popup{
    color:black;
    position:absolute;
    width:50%;
    /* text-align:center; */
    height:620px;
    background-color: lightblue;
    /* z-index:1; */
}
#popup1 {
    
    color:black;
    position:absolute;
    width:50%;
    /* text-align:center; */
    height:600px;
    background-color: lightblue;
   
}

.heading {
    text-align: center;
}
.form {
    margin:50px;
    width:60%;
    display: block;
    /* text-align: center; */
    
}
.x {
    margin-left:30px;
    margin: 30px;
    font-weight: bold;
    font-size: 20px;

}
input[type=text]
{
    border: none;
  border-bottom: 2px solid gray;
  font-size: 15px;
}
input[type=text]:focus {
    outline : none;
}

input[type=password]:focus {
    outline : none;

}
input[type=password]
{
    border: none;
  border-bottom: 2px solid gray;
  font-size: 15px;
}

.y {
    background-color: lightblue;;
    margin-left: 10px;
    margin:30px;
    border-bottom: lightblue;;
    
    /* border-color: #FFEBB7; */


}

.buttondiv {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:top 10px;
}
.pressButton {
    display:flex;
    justify-content: center;
    width:250px;
    height:40px;
    /* margin-top:100px;
    margin-left: 260px; */
    align-items:center;
    color:black;
    background-color: lightblue;;
    border-color: black;
    align-items: center;
    border-radius: 20px;
    cursor:pointer;
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.6); */
    

}

.buttondiv input{

    text-align:center;
    color: black;
    width:250px;
    height:40px;
    /* margin: 10px 10px; */
    display: inline-block;
    /* padding: 12px; */
    position: relative;
     border-color: black; 
    transition: color 1s;
    /* z-index: 1; */
    border-radius: 20px;
    /* text-decoration: none; */

}

/* .buttondiv span {
    width: 0%;
    height: 100%;
    background: #243763;
    transition: 0.5s;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    border-radius: 20px;


}

.buttondiv:hover span {
    width: 100%;
} */

.pressButton :hover {
    color:red;
}
#pressBelow {
    
    border:none;
    background-color: lightblue;;
    margin-top:5px;
    color:blue;
    text-decoration: underline;
}

footer{
    height:80px;
    background-color: #AD8E70;
}
li{
    list-style:none;
    font-family: 'Ubuntu', sans-serif;
    color:white;
}
ul{
    margin:0;
    height:80px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
}
#userSettings{
    margin-right:40px;
    color:bisque;
}
