*{
    font-family: 'Poppins', sans-serif;
    /* justify-content: center; */
    text-align: center;
}
body{
    background-color: rgb(255, 235, 183);
    margin: 0;
}
header{
    height:75px;
    background-color: #243763;
    display:flex;
    justify-content:space-between;
    /* color:bisque; */
    margin:auto;
}
#userSettings{
    margin-right:40px;
    font-size: 20px;
    color:bisque;
}
.slideshow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    align-items: center;
    position :relative;
    
}
.container{
    display: flex;
    width: 80%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x:hidden;
}
.slideshow_btn{
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    width: 40px;
    height: 120px;
    font-size: 50px;
    opacity: 30%;
    transition: 0.2s;
    border-radius: 10px;
}
.slideshow_btn:hover{
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 100%;
    transition: 0.2s;
    transform: scale(1.1);
}
.slideshow_btn:active{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 100%;
    transition: 0.05s;
    transform: scale(0.95);
}
.page_desc{
    /* display: inline-block; */
    flex-shrink: 0;
    /* box-shadow: 5px 5px 5px gray; */
    background-color: #FF6E31;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: calc(100% - 40px);
    scroll-snap-align: center;
    border-radius: 30px;
    margin: 0 100px;
}
.demo_img{
    border-radius: 20px;
    margin: 30px;
    width: 70%;
}