header{
    height:75px;
    background-color: #243763;
    display:flex;
    justify-content:space-between;
    margin:0;
}
#header-right{
    width:135px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
body{
    margin:0;
}
#userSettings{
    margin-right:40px;
    color:bisque;
}
#motivation{
    height:500px;
    background-color: #FFEBB7;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
#progress{
    height:380px;
    width:615px;
    background-color: #FF6969;
    border-radius: 10px;
    margin-left:60px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
#welcome{
    color:#FF6E31;
    font-family: 'Poppins', sans-serif;
}
#userName{
    color:purple;
}
#quot{
    font-family: 'Sacramento', cursive;
    font-size:30px;
}
.lesson{
    width:550px;
    height:70px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F6F1F1;
    border-radius: 10px;
    align-items: center;
}
.lesson p{
    font-family: 'Poppins', sans-serif;
    width:200px;
}
.btn{
    width:120px;
    height:35px;
    background-color: rgb(48, 200, 214);
    border:none;
    border-radius: 4px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
footer{
    height:80px;
    background-color: #AD8E70;
}
li{
    list-style:none;
    font-family: 'Ubuntu', sans-serif;
    color:white;
}
#linkToGit{
    list-style:none;
    font-family: 'Ubuntu', sans-serif;
    color:white;
}
ul{
    margin:0;
    height:80px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 100;
  color:white;
}
#mode-switch{
    all:unset;
    cursor: pointer;
}
#settings-switch{
    all:unset;
    cursor: pointer;
}