body {
    background-color: #FFEBB7;
}

.quiz {
    background-color: aliceblue;
    width: 100%;
    display: flex;

}

.question {
    padding: 20px;
    height: calc(70% - 75px - 40px);
    overflow: scroll;
}

.left_panel {
    width: 50%;
    height: calc(100vh - 75px);
    background-color: aquamarine;
}

#editor,
#highlighting {
    padding: 2.5%;
    border: 0;
    width: 45%;
    height: 30%;
}

#editor,
#highlighting,
#highlighting * {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    text-align: left;
    background-color: #2d2d2d;
}

#editor,
#highlighting {
    position: absolute;
    bottom: 0;
}

#editor {
    z-index: 1;
}

#highlighting {
    z-index: 0;
}

#editor {
    color: transparent;
    background: transparent;
    caret-color: white;
}

#editor,
#highlighting {
    overflow: auto;
    white-space: nowrap;
}

#editor {
    resize: none;
}